.centered {
  text-align: center;
}

.bordered {
  margin-left: 20rem;
  margin-right: 20rem;
}

.numrules {
  display: inline-block;
  font-size: x-large;
  margin-right: 3rem;
}

.eliminated {
  text-decoration: line-through;
}
